In [6]:
import pandas as pd
import numpy as np
a = np.array([['apple','pie'],['apple','juice'],['orange','pie'],['strawberry','cream'],['strawberry','candy']])

df = pd.DataFrame(a)
# Find the frequency of first word and divide by the total number of rows
df[2]=df[0].map(df[0].value_counts())/df.shape[0]
# Divide 1 by the total repetion 
df[3]=1/(df[0].map(df[0].value_counts()))
# Multiply the probabilities 
df[4]= df[2]*df[3]

In [7]:
df

            0      1    2    3    4
0       apple    pie  0.4  0.5  0.2
1       apple  juice  0.4  0.5  0.2
2      orange    pie  0.2  1.0  0.2
3  strawberry  cream  0.4  0.5  0.2
4  strawberry  candy  0.4  0.5  0.2