In [1]:
import os
import random
import time
import glob
import json
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

folder = 'preliminaries/landscape'

#Adjust path to folder of pickle
path = os.getcwd()
os.chdir('../../')
os.chdir('./results/'+folder)
os.getcwd()

'C:\\Users\\enrik\\Desktop\\Mabomba\\Studie\\MasterCS\\Thesis\\results\\preliminaries\\landscape'

In [2]:
cur = glob.glob("*.pkl")
df = pd.read_pickle(cur[-1])
df = df.replace(np.nan, 0)
df['I(Xi;S)'] = df['I(Xi;S)'].replace(np.nan, 0)
df.keys()

Index(['exp_sort', 'states', 'systemID', 'H(S)', 'syn_upper', 'syn_info',
       'I(Xi;S)', 'pXS', 'I(Y;S)', 'runID', 'I(X;S)', 'tot_runtime', 'parXY',
       'lenS', 'save', 'tot_repeats', 'prev', 'exp', 'mm', 'dist_type',
       'num_srvs', 'summed_modulo', 'systems', 'tol', 'rowfolder', 'lenY',
       'lenX', 'folder'],
      dtype='object')

In [3]:
df

,exp_sort,states,systemID,H(S),syn_upper,syn_info,I(Xi;S),pXS,I(Y;S),runID,...,mm,dist_type,num_srvs,summed_modulo,systems,tol,rowfolder,lenY,lenX,folder
0,python2,2,0,1.00000,1.00000,1.00000,"[0.0, 0.0]","[0.25, 0.0, 0.0, 0.25, 0.0, 0.25, 0.25, 0.0]",[1.0],0,...,0,iid,1,False,1,0.05,/row_data/,1,2,../results/preliminaries/landscape/
0,python2,2,1,0.99103,0.98047,0.99103,"[0.010559593049474625, 0.0056376069644870075]","[0.2869881820945948, 0.0, 0.0, 0.1756226668459...",[0.9910295043564568],0,...,0,dirichlet,1,False,1,0.05,/row_data/,1,2,../results/preliminaries/landscape/